<%- include("./partials/header.ejs") %>

<link rel="stylesheet" href="css/style_table.css">
<link rel="stylesheet" href="css/style_adminDashboard.css">

<%- include("./flash.ejs") %>

<body>

    <div class="main">
        <div class="content search" style="padding-bottom: 0;">
            <p style="font-size: 28px; font-weight: bolder;">Dashboard</p>
            <div class="additionalFeatures">
                <input type="text" id="searchBar" onkeyup="filter(1)" placeholder="Filter by NGO name" autofocus>
                <div class="reset" onclick="reset()">
                    <i class="fa-solid fa-arrow-rotate-right"></i>
                </div>
            </div>
        </div>

        <a href="#" class="add-NGO-btn float-end btn btn-sm btn-outline-secondary">+New Ngo</a>
        <hr>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">
                    <%= user.userName %>
                </li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-sm-4">
                <div id="card1" class="card active" onclick="displaySpecificTable(1);">
                    <div class="card-body">
                        <div class="icon-background" style="background-color: rgb(149, 63, 149);">
                            <i class="fa-regular fa-building"></i>
                        </div>
                        <div>
                            <p class="card-text" style="margin: 0; font-weight: bolder;">50+</p>
                            <h3 class="card-title">Registered NGOs</h3>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div id="card2" class="card" onclick="displaySpecificTable(2);">
                    <div class="card-body">
                        <div class="icon-background" style="background-color: rgb(52, 71, 194);">
                            <i class="fa-solid fa-users"></i>
                        </div>
                        <div>
                            <p class="card-text" style="margin: 0; font-weight: bolder;">400+</p>
                            <h3 class="card-title">Total Users</h3>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div id="card3" class="card" onclick="displaySpecificTable(3);">
                    <div class="card-body">
                        <div class="icon-background" style="background-color: rgb(236, 33, 188);">
                            <i class="fa-solid fa-comments"></i>
                        </div>
                        <div>
                            <p class="card-text" style="margin: 0; font-weight: bolder;">100+</p>
                            <h3 class="card-title">Daily reviews</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content table-responsive">
            <table id="toSortTable" class="ngo-table table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="min-width: 80px; text-align: center;">S.No. &nbsp; <i id="col0" class="colIcon fa-solid fa-sort-down" onclick="sortTable(0, 'number', 0)"></i></th>
                        <th style="min-width: 130px;">NGO Name &nbsp; <i id="col1" class="colIcon fa-solid fa-sort-down" onclick="sortTable(1, 'text', 0)"></i></th>
                        <th style="min-width: 130px;">Registration No.</th>
                        <th>Email</th>
                        <th>Sector</th>
                        <th style="min-width: 150px;">Webpage</th>
                        <th style="width: 92.412px; text-align: center;">Action</th>
                    </tr>
                </thead>

                <tbody class="table-group-divider">
                    <%  let i=1; %>
                    <% NGOData.forEach(NGO => { %>
                        <tr class="align-middle">
                            <td style="text-align: center;"><%= i %></td>
                            <td>
                                <%= NGO["name"] %> &nbsp; 
                                <% if (NGO["NGO_isVerified"]) { %>
                                    <i id=<%=`NGOname${i}`%> class="fa-solid fa-square-check" style="color: #1d9bf0;"></i>
                                <% } else { %>
                                    <i id=<%=`NGOname${i}`%> class="fa-solid fa-square-check hidden" style="color: #1d9bf0;"></i>
                                <% } %>
                            </td>
                            <td><%= NGO["NGO_registration_number"] %></td>
                            <td><%= NGO["email"] %></td>
                            <% if (NGO["NGO_sectors"]==="") { %>
                                <td>Data not available</td>
                            <% } else {%>
                                <td><%= NGO["NGO_sectors"] %></td>
                            <% } %>
                            <% if (NGO["NGO_webpage"]==="") { %>
                                <td>Data not available</td>
                            <% } else {%>
                                <td><a class="NGOWebpage" href="https://<%= NGO["NGO_webpage"] %>" target="_blank"><%= NGO["NGO_webpage"] %></a></td>
                            <% } %>
                            <td class="text-end">
                                <div class="d-flex flex-row justify-content-end gap-2">
                                    <% if (NGO["NGO_isVerified"]) { %>
                                        <button type="button" class="btn btn-primary btn-danger" onclick="verifyNGO(this);" value="<%= NGO._id %>" index="<%= i %>">
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>
                                    <% } else { %>
                                        <button type="button" class="btn btn-primary btn-small" onclick="verifyNGO(this);" value="<%= NGO._id %>" index="<%= i %>">
                                            <i class="fa-solid fa-check"></i>
                                        </button>
                                    <% } %>
                                    <a href="/adminView/ngo/<%= NGO._id %>" type="button" class="btn btn-primary btn-small">
                                        <i class="fa-regular fa-eye"></i>
                                    </a>
                                    <a href="/adminEdit/ngo/<%= NGO._id %>" type="button" class="btn btn-warning btn-small">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    <%  i++; }); %>
                </tbody>
            </table>

            <table id="toSortTable" class="user-table table table-striped table-bordered hidden">
                <thead>
                    <tr>
                        <th style="min-width: 80px; text-align: center;">S.No.</th>
                        <th style="min-width: 130px;">Username</th>
                        <th style="min-width: 130px;">E-mail</th>
                        <th style="min-width: 130px;">Mobile No.</th>
                        <th style="width: 92.412px; text-align: center;">Action</th>
                    </tr>
                </thead>

                <tbody class="table-group-divider">
                    <%  let j=1; %>
                    <% UserData.forEach(user => { %>
                        <tr class="align-middle">
                            <td style="text-align: center;"><%= j %></td>
                            <td><%= user["name"] %> &nbsp; </td>
                            <td><%= user["email"] %></td>
                            <td><%= user["user_mobile_number"] %></td>
                            <td class="text-end">
                                <div class="d-flex flex-row justify-content-end gap-2">
                                    <a href="/adminView/user/<%= user._id %>" type="button" class="btn btn-primary btn-small">
                                        <i class="fa-regular fa-eye"></i>
                                    </a>
                                    <a href="/adminEdit/user/<%= user._id %>" type="button" class="btn btn-warning btn-small">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    <%  j++; }); %>
                </tbody>
            </table>

            <table id="toSortTable" class="review-table table table-striped table-bordered hidden">
                <thead>
                    <tr>
                        <th style="min-width: 80px; text-align: center;">S.No.</th>
                        <th style="min-width: 130px;">E-mail</th>
                        <th style="min-width: 130px;">Comment No.</th>
                        <th style="width: 92.412px; text-align: center;">Action</th>
                    </tr>
                </thead>

                <tbody class="table-group-divider">
                    <%  let k=1; %>
                    <% ReviewData.forEach(review => { %>
                        <tr class="align-middle">
                            <td style="text-align: center;"><%= k %></td>
                            <td><%= review["email"] %> &nbsp; </td>
                            <td><%= review["comment"] %></td>
                            <td class="text-end">
                                <div class="d-flex flex-row justify-content-end gap-2">
                                    <a href="/adminView/review/<%= review._id %>" type="button" class="btn btn-primary btn-small">
                                        <i class="fa-regular fa-eye"></i>
                                    </a>
                                    <a href="/adminEdit/review/<%= review._id %>" type="button" class="btn btn-warning btn-small">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    <%  k++; }); %>
                </tbody>
            </table>
        </div>
    </div>

    <div class="navbar table-toggler">
        <i class="fa-regular fa-building" onclick="displaySpecificTable(1);"></i>
        <i class="fa-solid fa-users" onclick="displaySpecificTable(2);"></i>
        <i class="fa-solid fa-comments" onclick="displaySpecificTable(3);"></i>
    </div>

<%- include("./partials/footer.ejs") %>

<script src="/js/script_table.js"></script>
<script>
    const ngoTable = document.getElementsByClassName("ngo-table")[0];
    const userTable = document.getElementsByClassName("user-table")[0];
    const reviewTable = document.getElementsByClassName("review-table")[0];
    const card1 = document.getElementById("card1");
    const card2 = document.getElementById("card2");
    const card3 = document.getElementById("card3");

    function displaySpecificTable(index) {
        if (index === 1) {
            ngoTable.classList.remove("hidden");
            userTable.classList.add("hidden");
            reviewTable.classList.add("hidden");
            card1.classList.add("active");
            card2.classList.remove("active");
            card3.classList.remove("active");
        } else if (index === 2) {
            userTable.classList.remove("hidden");
            ngoTable.classList.add("hidden");
            reviewTable.classList.add("hidden");
            card2.classList.add("active");
            card1.classList.remove("active");
            card3.classList.remove("active");
        } else if (index === 3) {
            reviewTable.classList.remove("hidden");
            ngoTable.classList.add("hidden");
            userTable.classList.add("hidden");
            card3.classList.add("active");
            card1.classList.remove("active");
            card2.classList.remove("active");
        } 
    }

    async function verifyNGO(element) {
        const currentURL = window.location.href+"/ngo/"+element.value+"?_method=PATCH";
        try {
            const response = await fetch(currentURL, {
                method: "POST",
                headers: { "Content-Type": "application/json" }
            });
            const result = await response.json();
            if (result.status) {
                let verifyIcon = element.children[0];
                let NGOindex = element.getAttribute("index");
                let title = document.getElementById(`NGOname${NGOindex}`);
                if (verifyIcon.classList.contains("fa-check")) {
                    verifyIcon.classList.replace("fa-check", "fa-xmark");
                    element.classList.replace("btn-primary", "btn-danger");
                    title.classList.remove("hidden");
                } else if (verifyIcon.classList.contains("fa-xmark")) {
                    verifyIcon.classList.replace("fa-xmark", "fa-check");
                    element.classList.replace("btn-danger", "btn-primary");
                    title.classList.add("hidden");
                }
            } else {
                console.log("Unable to update reference.");
            }
        } catch(error) {
            console.log("Error in verifying: ", error);
        }
    }
</script>

</body>
</html>