<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGO: <%=ngoParticular.name%></title>
    <link rel="stylesheet" href="../css/style_adminDashboard.css">
</head>

<body>
    <div class="contain" style="display: flex;">

        <section class="main">
            <div class="main-top">
                <h1>
                    <%=ngoParticular.name%>
                </h1>
            </div>

            <a href="/addNgo" class="float-end btn btn-sm btn-outline-secondary">+New Ngo</a>
            <hr>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/adminDashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <%=ngoParticular.name%>
                    </li>
                </ol>
            </nav>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="max-width: 140px"> <b>Name:</b></div>
                        <div class="col">
                            <%=ngoParticular.name%>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="max-width: 140px"> <b>Sector:</b></div>
                        <div class="col">
                            <%=ngoParticular.NGO_sectors%>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="max-width: 140px"> <b>Email:</b></div>
                        <div class="col">
                            <%= ngoParticular.email%>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="max-width: 140px"> <b>NGO registration number:</b></div>
                        <div class="col">
                            <%= ngoParticular.NGO_registration_number %>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="max-width: 140px"> <b>NGO address:</b></div>
                        <div class="col">
                            <%= ngoParticular.NGO_address %>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="max-width: 140px"> <b>NGO date of joining:</b></div>
                        <div class="col">
                            <%= ngoParticular.NGO_date_of_joining %>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="max-width: 140px"> <b>NGO range:</b></div>
                        <div class="col">
                            <%= ngoParticular.NGO_range%>
                        </div>
                    </div>
                </li>
            </ul>
            <a href="/adminDashboard" style="text-decoration: none; margin-top: 10px;" class="btn btn-primary">Back</a>
        </section>
</body>

</html>