<%- include("./partials/header.ejs") %>

<link rel="stylesheet" href="./css/style_feedback.css">
<link rel="stylesheet" href="./css/style_form.css">
<link rel="stylesheet" href="./css/star.css">
   
<%- include("./flash.ejs") %>

    <div class="main">
        <section class="Container">
            <div class="feedback">
                <div class="textup"> 
                    <i class="fa fa-solid fa-clock"></i> 
                    It only takes two minutes!! 
                </div>
                <h1 class="heading">Feedback Form</h1>
                <form action="/feedback" method="POST">
                    <label for="uname"> 
                        <i class="fa fa-solid fa-user"></i> 
                        Name 
                    </label> 

                    <% if (locals.user) { %> 
                        <input type="text" id="uname" name="uname" value="<%= locals.user.userName || '' %>" required> 
                    <% } else { %>
                        <input type="text" id="uname" name="uname" value="" required> 
                    <% } %>

                    <label for="email_id"> 
                        <i class="fa fa-solid fa-envelope"></i> 
                        Email Address 
                    </label> 
                    <% if (locals.user) { %> 
                        <input type="email" id="email_id" name="email" value="<%= locals.user.userID || '' %>" required> 
                    <% } else { %>
                        <input type="email" id="email_id" name="email" value="" required> 
                    <% } %>

                    <label> 
                        <i class="fa-solid fa-face-smile"></i> 
                        Are you satisfied with our service? 
                    </label> 
                    <div class="radio-group"> 
                        <label for="yes">Yes</label> 
                        <input type="radio" id="yes" name="satisfy" value="yes" checked> 
                        <label for="no">No</label> 
                        <input type="radio" id="no" 
                        name="satisfy" value="no"> 
                    </div> 
            
                    <div class="ratings">
                        <label for="star">Rating:</label>
                        <fieldset class="starability-basic">
                            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="rating" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="rating" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="rating" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="rating" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="rating" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>
            
                    <br>
                    <label for="floatingTextarea2" style="margin: 0;"> 
                        <i class="fa-solid fa-comments" style="margin-right: 3px;"></i> 
                        Write your suggestion: 
                    </label> 
                    <div class="form-floating">
                        <textarea class="form-control" name="comment" placeholder="Leave a comment here" id="floatingTextarea2" rows="4" cols="10" required></textarea>
                        <label for="floatingTextarea2">Write here </label>
                      </div>
                      <br>
                    <button  class="button btn btn-primary " type="submit">Add feedback</button>
                </form>

            </div>
        </section>
    </div>

    <blockquote class="blockquote mb-0" style="text-align: center;">
        <div class="card-header">
            User Feedback
        </div>
    </blockquote>
    
    <div class="container" style="margin: 30px 0;">
        <% for(let review of reviews){%>
            <div class="card" style="width: 80%; margin: 15px auto;">
                <div class="card-body">
                    <h5 class="starability-result card-title" data-rating="<%= review.rating %>"></h5>
                    <h6 class="card-subtitle mb-1 text-body-secondary" style="font-weight: bolder;"><%= review.email %></h6>
                    <p class="card-text" style="color: black; font-size: 17px;"><%= review.comment %></p>
                <% if(review.createdAt){ %>
                    <p style="margin: 0;">Time: <%= review.createdAt.toDateString() %></p>
                <% } %>    
                </div>
            </div>
        <% } %>
    </div>

<%- include("./partials/footer.ejs") %>

</body>
</html>