<%- include("./partials/header.ejs") %>

<link rel="stylesheet" type="text/css" href="../../css/style_table.css"> 
<link rel="stylesheet" type="text/css" href="../../css/style_profile.css"> 

<%- include("./flash.ejs") %>

    <div class="profile-banner"></div>

    <div class="main">
        <img class="profile-pic" src="/images/img-profile-pic.jpg">
        <div class="content first-half">
            <div class="sec">
                <p class="username">
                    <%= userData["name"] %>
                    <% if (user.isAdmin) { %>
                        <span style="font-size: 18px;">(Admin)</span>
                    <% } %>
                </p>
                <span style="font-size: 16px;"><%= userData["email"] %></span><br>
                <svg viewBox="0 0 24 24" aria-hidden="true" style="width:17.5px" class="r-1bwzh9t r-4qtqp9 r-yyyyoo r-1xvli5t r-1d4mawv r-dnmrzs r-bnwqim r-1plcrui r-lrvibr"><g><path d="M7 4V3h2v1h6V3h2v1h1.5C19.89 4 21 5.12 21 6.5v12c0 1.38-1.11 2.5-2.5 2.5h-13C4.12 21 3 19.88 3 18.5v-12C3 5.12 4.12 4 5.5 4H7zm0 2H5.5c-.27 0-.5.22-.5.5v12c0 .28.23.5.5.5h13c.28 0 .5-.22.5-.5v-12c0-.28-.22-.5-.5-.5H17v1h-2V6H9v1H7V6zm0 6h2v-2H7v2zm0 4h2v-2H7v2zm4-4h2v-2h-2v2zm0 4h2v-2h-2v2zm4-4h2v-2h-2v2z"></path></g></svg>
                <span style="font-size: 14px;">Joined <%= userData["user_date_of_joining"] %></span>
            </div>
            <div style="padding-top: 20px;">
                <button class="edit"><a href="/editProfile/<%= userData._id %>">Edit Profile</a></button>
            </div>
        </div>
        
        <div class="content search" style="padding-bottom: 0;">
            <p style="font-size: 28px; font-weight: bolder;">Donation History</p>
            <div class="additionalFeatures">
                <input type="text" id="searchBar" onkeyup="filter(1)" placeholder="Filter by donar name" autofocus>
                <div class="reset" onclick="reset()">
                    <i class="fa-solid fa-arrow-rotate-right"></i>
                </div>
            </div>
        </div>

        <div class="content table-responsive">
            <table id="toSortTable" class="table table-striped table-bordered table-hover">
                <thead id="table-heading">
                    <tr>
                        <th style="min-width: 80px; text-align: center;">S.No. &nbsp; <i id="col0" class="colIcon fa-solid fa-sort-down" onclick="sortTable(0, 'number', 0)"></i></th>
                        <th style="min-width: 130px;">Donar Name &nbsp; <i id="col1" class="colIcon fa-solid fa-sort-down" onclick="sortTable(1, 'text', 0)"></i></th>
                        <th style="min-width: 155px;">Date of Donation &nbsp; <i id="col2" class="colIcon fa-solid fa-sort-down" onclick="sortTable(2, 'date', 0)"></i></th>
                        <th style="min-width: 220px;" onclick="dropdown(this)" style="position: relative;">Type of Donation &nbsp; 
                            <i id="col2" class="fa-solid fa-sort-down"></i>
                            <div class="dropdown-content">
                                <button onclick="fixedFilter(3, 'Food')" style="border-top: 1px solid black;">Food</button>
                                <button onclick="fixedFilter(3, 'Books')">Books</button>
                                <button onclick="fixedFilter(3, 'Toys')">Toys</button>
                                <button onclick="fixedFilter(3, 'Clothes')">Clothes</button>
                            </div>
                        </th>
                        <th onclick="dropdown(this)" style="min-width: 100px; position: relative;">Visibility &nbsp; 
                            <i id="col2" class="fa-solid fa-sort-down"></i>
                            <div class="dropdown-content">
                                <button onclick="fixedFilter(4, 'Public')" style="border-top: 1px solid black;">Public</button>
                                <button onclick="fixedFilter(4, 'Protected')">Protected</button>
                                <button onclick="fixedFilter(4, 'Private')">Private</button>
                            </div>
                        </th>
                        <th onclick="dropdown(this)" style="min-width: 140px; position: relative;">Donation Status
                            <i id="col2" class="fa-solid fa-sort-down"></i>
                            <div class="dropdown-content">
                                <button onclick="fixedFilter(5, 'Open')" style="border-top: 1px solid black;">Open</button>
                                <button onclick="fixedFilter(5, 'Accepted')">Accepted</button>
                                <button onclick="fixedFilter(5, 'Expired')">Expired</button>
                            </div></th>
                        <th>NGO</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <%  let i=1; %>
                    <% donationData.forEach(donation=>{ %>
                        <tr>
                            <td style="text-align: center;"><%= i %></td>
                            
                            <td><%= donation["donar_name"] %></td>
                            
                            <% 
                            const a = new Date(donation["date_of_donation"]);
                            %>
                            <td><%= `${a.getDate().toString().padStart(2, "0")}-${(a.getMonth() + 1).toString().padStart(2, "0")}-${a.getFullYear()}`%></td>
                            
                            <% if(donation["type_of_donation"]==="Food") { %>
                                <td><%= donation["type_of_donation"] %> (<%= donation["type_of_event"]%>)</td>
                            <% } else { %>
                                <td><%= donation["type_of_donation"] %></td>
                            <% } %>
                                    
                            <% if (donation["visibility"]===0) { %>
                                <td>Public</td>
                            <% } else if (donation["visibility"]===1) { %>
                                <td>Protected</td>
                            <% } else { %>
                                <td>Private</td>
                            <% } %>

                            <% if (donation["donation_status"].status === 0) { %>
                                <td>Open</td>
                            <% } else if (donation["donation_status"].status === 1) { %>
                                <td>Accepted</td>
                            <% } else if (donation["donation_status"].status === 2) { %>
                                <td>Expired</td>
                            <% } %>
                            
                            <% if (donation["donation_status"].status === 0) { %>
                                <td>-</td>
                            <% } else if (donation["donation_status"].status === 1) { %>
                                <td><%= donation["donation_status"].NGO_name %></td>
                            <% } else if (donation["donation_status"].status === 2) { %>
                                <td>NA</td>
                            <% } %>
                        </tr>
                        <%  i++; }); %>
                    </tbody>
            </table>
        </div>
        
        <% if (!user.isAdmin) { %>
            <div class="icon">
                <a href="/donate">
                    <i class="fa-solid fa-hands-praying"></i>
                </a>
            </div>
        <% } %>
    </div>

<%- include("./partials/footer.ejs") %>
    
<script src="/js/script_table.js"></script>

</body>
</html>